.section {
  margin-top: 1rem;
  margin-left: 3rem;
}

.search {
  &__search {
    border-radius: 2rem;
    border: 1px solid grey;
    padding: 0.8rem 1.6rem;
    background: url("../../assets/Icons/search.svg") no-repeat 95% 50%;
    width: 27.4rem;
    margin: 1rem 0;
  }
}
