.profile {
  width: 90vw;

  &__background-img {
    background: white;
    background-image: url("https://images.pexels.com/photos/1731427/pexels-photo-1731427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
  }

  &__img-container {
    border-bottom: 0.2rem black solid;
    margin-left: 2rem;
  }

  &__img {
    width: 200px;
    height: 200px;
    margin-top: -120px;
    border-radius: 10rem;
    border: 4px solid #fff;
  }
}

.button-contact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 0.3rem;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  // width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}
