@use "../../styles/partials/mixins" as *;

.new-comment {
  &__comment-container {
    background-color: #0065ad;
    display: flex;
    position: absolute;
    bottom: 16px;
    padding: 0.9rem;
  }

  &__user-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    margin-right: 1rem;
  }

  &__comment-form-container {
    width: 100%;
  }

  &__form {
    width: 100%;
    display: flex;
  }

  &__textarea {
    @extend .selected-text-input;
    width: 15vw;
    padding: 0.5rem;
    padding-right: 1.5rem;
    outline-color: 1px solid black;
  }

  &__submit-btn {
    margin-left: 1rem;
  }
}
