.channels {
  display: flex;

  &__video {
    height: 300px;
    width: 200px;
  }

  &__details {
    position: absolute;
    // bottom: 0;
    // left: 0;
    flex-direction: column;
  }

  &__profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
