.channels {
  display: flex;
  flex-direction: column;

  &__video {
    height: 300px;
    width: 200px;
  }

  &__details {
    position: absolute;
    // bottom: 0;
    // left: 0;
    flex-direction: column;
  }
}
